*,
::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  gap: 3em;
  height: 3.7rem;
  padding: 1rem;
  border-bottom: 0.1rem solid rgb(215, 211, 211);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  a {
    text-decoration: none;
  }
  .navlinks ul {
    list-style: none;
    display: flex;
    gap: 2em;
  }
  .navlinks ul li a {
    color: rgb(69, 67, 67);
  }
  .navlinks ul li a:hover {
    background-color: rgb(50, 6, 22);
    border-radius: 0.3rem;
    color: wheat;
    text-decoration: underline;
    transition: 1s;
  }

  .logo {
    display: flex;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    padding-left: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    .span {
      color: rgb(50, 6, 22);
    }
    span {
      color: rgb(255, 202, 105);
    }
  }
  .linkbtn {
    border-radius: 0.3rem;
    background-color: rgb(50, 6, 22);
    color: wheat;
  }
  .linkbtn:hover {
    background-color: rgb(137, 45, 79);
    color: white;
  }
}
#bar {
  display: none;
  transition: 0.6s ease-in-out;
}
#bar:hover {
  transform: rotate(-90deg);
}
@media (max-width: 700px) {
  .navlinks ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .navigation {
    gap: 9rem;
  }
  .navlinks {
    position: fixed;
    background: wheat;
    height: max-content;
    width: 8rem;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    padding-top: 3rem;
    gap: 0.5rem;
    padding: 1rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.318);
    border-radius: 0.5rem;
  }
  #bar {
    background: linear-gradient(90deg, rgb(50, 6, 22), rgb(255, 202, 105));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 27px;
    display: block;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 20px;
  }
}
.footer {
  margin: auto;
  background-color: rgb(50, 6, 22);
  padding: 2rem;
}
.row {
  display: flex;
  justify-content: space-around;
}
.footercol a {
  display: block;
  text-decoration: none;
  color: rgb(107, 103, 103);
}
.footercol a:hover {
  color: wheat;
  text-decoration: underline;
  transition: 1s;
}
.footercol i {
  color: wheat;
  font-size: 1.2rem;
  cursor: pointer;
}
.footercol span {
  color: rgb(107, 103, 103);
}

.footercol span:hover {
  color: wheat;
  text-decoration: underline;
  transition: 1s;
}
.footercol h3 {
  color: rgb(154, 128, 128);
}
.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #684343;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
  padding: 2rem;
  font-weight: 800;
}
.copy span {
  color: #684343;
}
.footercol .fa-instagram:hover {
  background: linear-gradient(
    90deg,
    rgb(255, 77, 0),
    rgb(255, 2, 183),
    rgb(255, 251, 2)
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: 1s;
}
.footercol .fa-facebook-f:hover {
  color: #00a2ff;
  transition: 1s;
}
.footercol .fa-pinterest-p:hover {
  color: #d60000;
  transition: 1s;
}
.footercol .fa-tiktok:hover {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0),
    rgb(255, 255, 255),
    rgb(255, 2, 183)
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: 1s;
}
.footercol .fa-twitter:hover {
  color: #00a2ff;
  transition: 1s;
}
.footercol .fa-linkedin-in:hover {
  color: #00a2ff;
  transition: 1s;
}
.footercol .fa-whatsapp:hover {
  color: rgb(43, 255, 43);
  transition: 1s;
}
.footercol .fa-envelope:hover {
  color: white;
  transition: 1s;
}
.fa-location-dot:hover {
  color: white;
  transition: 1s;
}
.fa-tablet:hover {
  color: white;
  transition: 1s;
}

@media (max-width: 700px) {
  .copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
  }
  .footer {
    padding: 1rem;
    font-size: 0.8rem;
  }
}
