*,
::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navigation {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  background-color: white;
  gap: 3em;
  height: 3.7rem;
  padding: 1rem;
  border-bottom: 0.1rem solid rgb(215, 211, 211);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  a {
    text-decoration: none;
  }
  .navlinks ul {
    list-style: none;
    display: flex;
    gap: 2em;
  }
  .navlinks ul li a {
    color: rgb(69, 67, 67);
  }
  .navlinks ul li a:hover {
    background-color: rgb(50, 6, 22);
    border-radius: 0.3rem;
    color: wheat;
    text-decoration: underline;
    transition: 1s;
  }

  .logo {
    display: flex;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    padding-left: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    .span {
      color: rgb(50, 6, 22);
    }
    span {
      color: rgb(255, 202, 105);
    }
  }
  .linkbtn {
    border-radius: 0.3rem;
    background-color: rgb(50, 6, 22);
    color: wheat;
  }
  .linkbtn:hover {
    background-color: rgb(137, 45, 79);
    color: white;
  }
}
#bar {
  display: none;
  transition: 0.6s ease-in-out;
}
#bar:hover {
  transform: rotate(-90deg);
}
@media (max-width: 700px) {
  .navlinks ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .navigation {
    gap: 9rem;
  }
  .navlinks {
    position: fixed;
    background: wheat;
    height: max-content;
    width: 8rem;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    padding-top: 3rem;
    gap: 0.5rem;
    padding: 1rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.318);
    border-radius: 0.5rem;
  }
  #bar {
    background: linear-gradient(90deg, rgb(50, 6, 22), rgb(255, 202, 105));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 27px;
    display: block;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 5px;
  }
}
.hero {
  margin: auto;
  width: 90%;
  position: relative;
  width: 100%;
  height: 70vh;
  background: rgba(0, 0, 0, 0.498) url(../Assets/home.webp);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-top: 3rem;
}
.heroa {
  margin: auto;
  width: 90%;
  position: relative;
  width: 100%;
  height: 70vh;
  background: rgba(0, 0, 0, 0.498) url(../Assets/abt.webp);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-top: 3rem;
}

.txtbox {
  width: 70%;
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.commentbox {
  /* background:
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(45deg, rgb(11, 134, 217), rgb(41, 255, 41), rgb(3, 51, 134))
      border-box; */
  background-color: wheat;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  margin: 50px 0;
  padding: 10px 20px;
  width: 40%;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
}
.commentform textarea::placeholder {
  line-height: 1.6rem;
  font-size: 0.9rem;
}
.commentform input,
.commentform textarea {
  width: 100%;
  padding: 1rem;
  padding-top: 1rem;

  margin: 15px 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: #f0f0f0;
}
.commentform button {
  margin: 10px 0;
}
.abt {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.5rem;
  padding: 0.9rem 1.2rem;
  font-size: 1rem;
  width: 100%;
  right: 0rem;
  bottom: 0rem;
  position: relative;
  background: linear-gradient(90deg, rgb(255, 202, 105), rgb(50, 6, 22));
  cursor: pointer;
}
.abt:hover {
  background: linear-gradient(90deg, rgb(50, 6, 22), rgb(255, 202, 105));
}






@media (max-width: 700px) {
  
.txtbox {
  font-size: 1rem;
}

  .commentbox {
    margin-top: 3rem;
    width: 50%;
  }
  .commentform textarea::placeholder {
    line-height: 1rem;
    font-size: 0.7rem;
  }
}
.roww {
  text-align: center;
  line-height: 1.7rem;

  word-spacing: 0.1rem;

  h3 {
    color: rgb(32, 32, 30);
  }
  p {
    color: #5e5e5e;
  }
}
.conatiner {
  margin: auto;
}
.content {
  padding-top: 3rem;
  width: 90%;
  margin: auto;
}
.aboutlinks{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
 margin-top: 3rem;
}
.aboutlinks a{
  text-decoration: none;
  color:rgb(82, 8, 35);
 
}.aboutlinks p{
   color: rgb(219, 162, 55);
}
.about{
  margin: auto;
  width: 90%;
  padding-top: 2rem;
}


#aboutcoll h3{
color: rgb(82, 8, 35);
}

#aboutcoll 
.aboutdisplay{
  
  display: flex;
 margin-top: 2rem;
 margin-bottom: 2rem;
width: 60rem;
height: 30rem;

  border: 0.2rem solid transparent;
  background:
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(60deg, rgb(255, 166, 0), rgb(112, 5, 44) )
      border-box;
  border-radius: 0.4rem;
  overflow: hidden;
}


.abouttext{
  padding: 2rem;
  line-height: 2rem;
  padding-top: 3rem;
  background: linear-gradient(90deg,rgb(146, 0, 54), rgb(46, 2, 18));

color: wheat;
}
.line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
 .line p {
  padding-right: 3rem;
  font-weight: 700;
  font-size: 1.3rem;
 color: green !important;
 }
.line img{
  width: 40%;
}
.aboutimg {
  width:150rem;
  height:30rem;
  
}

.aboutimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutcol li{
list-style: none;
line-height: 4rem;
}
.aboutcol a{
  text-decoration: none;
  /* color: #5e5e5e; */
  color: rgb(219, 162, 55);
}
.aboutcol a:hover{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
     color: rgb(82, 8, 35);
      transition: 0.6s ease-in-out;
      transform: scale(1.1);
}


.vertical-hr {
  width: 1px;
  height: 30rem;  
  background-color: #cdcaca;
  border: none;
} .hr{
height: 1px;
border: none;
 background-color: #cdcaca;
 width: 63rem;
margin-bottom: 2rem;
 margin-left: 18rem;
  margin-top: 3rem;
}

.hrr{
 width: 63rem;
margin-bottom: 2rem;
 margin-left: 18rem;
line-height: 2.6rem;
p{
  color: #5e5e5e;
}
 h3{
 color:rgb(82, 8, 35) ;
 padding-top: 2rem;
 font-size: 1.4rem;
}
}


.info-table {
  width: 100%;
  max-width: 63rem;
  border-collapse: collapse;
 
}

.info-table th,
.info-table td {
  border: 2px solid rgb(255, 205, 112);
  padding: 1rem;
  text-align: left;
}

.info-table thead {
 
  color: white;
}
.info-table thead th:first-child {
  border-top-left-radius: 1rem;
 background: linear-gradient(
    40deg,
    rgb(219, 162, 55),
    rgb(112, 5, 44)
  );
}

.info-table thead th:last-child {
  border-top-right-radius: 1rem;
  background: linear-gradient(
    60deg,
    rgb(219, 162, 55),
    rgb(112, 5, 44)
  );
}
.info-table tbody tr:hover {
  background-color: #f2f2f2;
}
.done{
  width: 100%;
  height: 30rem;
  margin-top: 3rem;
  background-color: #d6d6d6;

}
.donecol{
  padding: 4rem;
  padding-left: 5rem;
  h3{
    font-size: 2rem;
    color: #353232;
  }
  p{
    padding-top: 1rem;
    line-height: 2rem;
    font-size: 1.3rem;
  }
}
.rowww{
  display: flex;
  justify-content: space-between;
  padding-right: 7rem;
}
.footer {
  margin: auto;
  background-color: rgb(50, 6, 22);
  padding: 2rem;
}
.row {
  display: flex;
  justify-content: space-around;
}
.footercol a {
  display: block;
  text-decoration: none;
  color: rgb(107, 103, 103);
}
.footercol a:hover {
  color: wheat;
  text-decoration: underline;
  transition: 1s;
}
.footercol i {
  color: wheat;
  font-size: 1.2rem;
  cursor: pointer;
}
.footercol span {
  color: rgb(107, 103, 103);
}

.footercol span:hover {
  color: wheat;
  text-decoration: underline;
  transition: 1s;
}
.footercol h3 {
  color: rgb(154, 128, 128);
}
.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #684343;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
  padding: 2rem;
  font-weight: 800;
}
.copy span {
  color: #684343;
}
.footercol .fa-instagram:hover {
  background: linear-gradient(
    90deg,
    rgb(255, 77, 0),
    rgb(255, 2, 183),
    rgb(255, 251, 2)
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: 1s;
}
.footercol .fa-facebook-f:hover {
  color: #00a2ff;
  transition: 1s;
}
.footercol .fa-pinterest-p:hover {
  color: #d60000;
  transition: 1s;
}
.footercol .fa-tiktok:hover {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0),
    rgb(255, 255, 255),
    rgb(255, 2, 183)
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: 1s;
}
.footercol .fa-twitter:hover {
  color: #00a2ff;
  transition: 1s;
}
.footercol .fa-linkedin-in:hover {
  color: #00a2ff;
  transition: 1s;
}
.footercol .fa-whatsapp:hover {
  color: rgb(43, 255, 43);
  transition: 1s;
}
.footercol .fa-envelope:hover {
  color: rgb(59, 145, 176);
  transition: 1s;
}
.fa-location-dot:hover {
  color: rgb(59, 145, 176);
  transition: 1s;
}
.fa-tablet:hover {
  color: rgb(59, 145, 176);
  transition: 1s;
}

@media (max-width: 700px) {
  .copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
  }
  .footer {
    padding: 1rem;
    font-size: 0.8rem;
  }
}
